.avatar {
	margin: auto;
	/* Senac 220px, Steam 128px */
	width: 220px;
	height: 128px;
	margin-bottom: 1.25rem;
}
.hero{
 	background: #F2F6FA;
}
.hero-body {
	padding-top: 0;
}
.header{
	position:fixed 200;
	border: solid;
	color: #171a21;
	
	max-width: 1366px;
}
.ph{
	text-align: left;
	margin-left:10px;
}
.senacImagem{
	width:100%!important;
}
.senacImagem{
	margin: 0 auto!important;
	text-align: center!important;
}
.linha{
	display: inline-block;
	margin: 5px 5px 5px 0px;
}
.logintitulo{
	font-weight: bold;

}
.espacamentobaixo{
	padding-top: 10px!important;
}